<div layout="row" class="div-login" ng-controller="LoginCtrl"
  ng-style="{'background': corTemaSelecionado}">

  <div class="div-login-formulario">
    <form name="loginForm">
      <md-input-container class="md-block">
        <input type="text" ng-model="usuario.usuario" placeholder="Usuário" required />
      </md-input-container>

      <md-input-container class="md-block">
        <input type="password" ng-model="usuario.senha" placeholder="Senha" required />
      </md-input-container>

      <md-input-container class="md-block">
        <md-checkbox ng-model="user">
          Manter conectado
        </md-checkbox>
      </md-input-container>

      <div>
        <md-button ng-click="logarUsuario(usuario)" class="md-primary md-raised">Login</md-button>
      </div>

    </form>
  </div>

</div>

</div>
